<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
	<style>
		body {
			overflow: hidden;
		}
	</style>
</head>
<body>
	<canvas id="main" />
	<script>
		var ctx = $('#main')[0].getContext('2d');
		var mapWidth = 5000;
		var mapHeight = 5000;
		var w = window.innerWidth;
		var h = window.innerHeight;
		var cameraX = mapWidth/2;
		var cameraY = mapHeight/2;
		var mousePositionX = w/2;
		var mousePositionY = h/2;
		var scale = 1;
		var food = [];
		var limit = 30000;
		var mass = 10;
		var colorList = [
			'Yellow',
			'Aqua',
			'Blue',
			'Chartreuse',
			'DarkOrange',
			'DarkOrchid',
			'DeepPink',
			'Fuchsia',
			'Gold',
			'Red'
		];
		var cellColor = colorList[Math.floor(Math.random() * colorList.length)];
		
		$('#main').mousemove( function(event) {
			mousePositionX = event.pageX-w/2;
			mousePositionY = event.pageY-h/2;
		});
		$(document).ready( function() {
			init();
			canvasResize();
			setInterval(draw,16);
			setInterval(regenerateFood,10);
			setInterval(naturalLoss, 1000);
		});
		$(window).resize( function() {
			canvasResize();
		});
		function canvasResize() {
			w = window.innerWidth;
			h = window.innerHeight;
			ctx.canvas.width = w;
			ctx.canvas.height = h;
		}
		function init() {
		}
		function draw() {
			cameraX += (mousePositionX/(mass/1.5));
			cameraY += (mousePositionY/(mass/1.5));
			if(cameraX<0){
				cameraX = 0;
			}
			else if(cameraX>mapWidth){
				cameraX = mapWidth;
			}
			if(cameraY<0){
				cameraY = 0;
			}
			else if(cameraY>mapHeight){
				cameraY = mapHeight;
			}
			ctx.clearRect(0 ,0 ,ctx.canvas.width,ctx.canvas.height);
			eatFood();
			var rx = scale*w;
			var ry = scale*h;
			for(var i=0;i<food.length;++i) {
				if((cameraX-rx/2)<food[i].x && (cameraX+rx/2)>food[i].x && (cameraY-ry/2)<food[i].y && (cameraY+ry/2)>food[i].y){
					circle((food[i].x-cameraX)/scale+w/2, (food[i].y-cameraY)/scale+h/2, 5/scale, food[i].color);
				}
			}
			scale = mass>=128 ? mass/128 : 1;
			circle(w/2, h/2, mass/scale, cellColor);
			drawText(w/2, h/2);
		}
		function naturalLoss() {
			if(mass >= 128) {
				mass -= 0.02*(Math.random()*(mass-128));
			}
		}
		function eatFood() {
			var index = [];
			for(var i=0;i<food.length;++i) {
				var d = Math.sqrt(Math.pow(cameraX-food[i].x,2)+Math.pow(cameraY-food[i].y,2));
				if(d <= mass/scale) {
					index.push(i);	
				}
			}
			for(var i=0;i<index.length;++i) {
				var f = food.splice(index[i],1)[0];
				var c = Math.round(mass / 10);
				mass += (f.size/c);
			}
		}
		function regenerateFood() {
			if(food.length < limit) {
				var p = {color : colorList[Math.floor(Math.random()*colorList.length)], x : Math.random()*mapWidth , y : Math.random()*mapHeight, size : Math.random()*2+1};
				var d = Math.sqrt(Math.pow(cameraY-p.x,2)+Math.pow(cameraY-p.y,2));
				if(d > mass+p.size) {
					food.push(p);		
				}
			}
		}
		function circle(x,y,r,color) {
			ctx.beginPath();
			ctx.arc(x, y, r, 0, 2*Math.PI);
			ctx.strokeStyle = color;
			ctx.fillStyle = color;
			ctx.fill();
			ctx.stroke();
		}
		function drawText(x,y) {
			ctx.font = '24px Arial';
			ctx.strokeStyle = 'black';
			ctx.strokeText(Math.round(mass),x,y);
		}
	</script>
</body>
</html>
