<!DOCTYPE html>
<html>
<head>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
	<style>
		body {
			overflow: hidden;
		}
	</style>
</head>
<body>
	<canvas id="main" />
	<script>
		var ctx = $('#main')[0].getContext('2d');
		var mapWidth = 5000;
		var mapHeight = 5000;
		var w = window.innerWidth;
		var h = window.innerHeight;
		var cameraX = mapWidth/2;
		var cameraY = mapHeight/2;
		var mousePositionX = w/2;
		var mousePositionY = h/2;
		var count = 1;
		var scale = 1;
		var cells = [];
		var food = [];
		var limit = 3000;
		var mass = 10; //total mass
		var colorList = [
			'Yellow',
			'Aqua',
			'Blue',
			'Chartreuse',
			'DarkOrange',
			'DarkOrchid',
			'DeepPink',
			'Fuchsia',
			'Gold',
			'Red'
		];
		var cellColor = colorList[Math.floor(Math.random() * colorList.length)];
		$(window).keydown( function(event) { 
			if(event.keyCode === 32){
				split();
			}
		});
		$('#main').mousemove( function(event) {
			mousePositionX = event.pageX-w/2;
			mousePositionY = event.pageY-h/2;
		});
		$(document).ready( function() {
			init();
			canvasResize();
			setInterval(draw,16);
			setInterval(regenerateFood,10);
			setInterval(naturalLoss, 1000);
		});
		$(window).resize( function() {
			canvasResize();
		});
		function canvasResize() {
			ctx.canvas.width = w = window.innerWidth;
			ctx.canvas.height = h = window.innerHeight;
		}
		function init() {
			cells.push({
				mass:10,
				x:cameraX,
				y:cameraY,
				targetX:cameraX,
				targetY:cameraY,
				time:0		
			});
		}
		function move() {
			var targetX = mousePositionX+cameraX;
			var targetY = mousePositionY+cameraY;
			var bc = _.max(cells,function(cell){ return cell.mass;});
			cameraX = _.reduce(cells, function(memo, num){return memo+num.x;},0)/cells.length;
			cameraY = _.reduce(cells, function(memo, num){return memo+num.y;},0)/cells.length;
			for(var i=0;i<cells.length;++i){
				cells[i].time++;
				var v = 2;
				if(cells[i].time >= 0){
					cells[i].targetX = targetX;
					cells[i].targetY = targetY;
					v = 5;	
				}
				cells[i].x = Math.max(0,Math.min(mapWidth,cells[i].x+(cells[i].targetX-cells[i].x)/cells[i].mass/v));
				cells[i].y = Math.max(0,Math.min(mapHeight,cells[i].y+(cells[i].targetY-cells[i].y)/cells[i].mass/v));
			}
		}
		function draw() {
			ctx.clearRect(0 ,0 ,ctx.canvas.width,ctx.canvas.height);
			var rx = scale*w;
			var ry = scale*h;
			for(var i=0;i<food.length;++i) {
				if((cameraX-rx/2)<food[i].x && (cameraX+rx/2)>food[i].x && (cameraY-ry/2)<food[i].y && (cameraY+ry/2)>food[i].y){
					circle((food[i].x-cameraX)/scale+w/2, (food[i].y-cameraY)/scale+h/2, 5/scale, food[i].color);
				}
			}
			scale = mass>=128 ? mass/128 : 1;
			collisionCheck();
			move();
			for(var i=0;i<cells.length;++i) {
				eatFood(i);
				drawCell(i);
			}
		}
		function collisionCheck() {
			for(var i=0;i<cells.length-1;++i){
				for(var j=i+1;j<cells.length;++j){
					var dc = Math.sqrt(Math.pow(cells[i].x-cells[j].x,2)+Math.pow(cells[i].y-cells[j].y,2));
					if(dc<(cells[i].mass+cells[j].mass)){
						
					}
				}
			}
		}
		function drawCell(i) { 
			circle((cells[i].x-cameraX)/scale+w/2, (cells[i].y-cameraY)/scale+h/2, cells[i].mass/scale, cellColor);
			ctx.font = '24px Arial';
			ctx.strokeStyle = 'black';
			ctx.strokeText(Math.round(cells[i].mass),(cells[i].x-cameraX)/scale+w/2,(cells[i].y-cameraY)/scale+h/2);
		}
		function naturalLoss() {
			for(var i=0;i<cells.length;++i){
				if(cells[i].mass >= 128) {
					cells[i].mass -= 0.02*(Math.random()*(cells[i].mass-128));
				}
			}
		}
		function eatFood(j) {
			var index = [];
			for(var i=0;i<food.length;++i) {
				var d = Math.sqrt(Math.pow(cells[j].x-food[i].x,2)+Math.pow(cells[j].y-food[i].y,2));
				if(d <= cells[j].mass) {
					index.push(i);	
				}
			}
			for(var i=0;i<index.length;++i) {
				var f = food.splice(index[i],1)[0];
				var c = Math.round(cells[j].mass / 10);
				cells[j].mass += (f.size/c);
				mass += (f.size/c);
			}
		}
		function regenerateFood() {
			if(food.length < limit) {
				var p = {color : colorList[Math.floor(Math.random()*colorList.length)], x : Math.random()*mapWidth , y : Math.random()*mapHeight, size : Math.random()*2+1};
				var d = Math.sqrt(Math.pow(cameraY-p.x,2)+Math.pow(cameraY-p.y,2));
				if(d > mass+p.size) {
					food.push(p);		
				}
			}
		}
		function circle(x,y,r,color) {
			var foseja = Math.random();
			ctx.strokeStyle = 'black';
			ctx.lineWidth = 1;
			ctx.fillStyle = color;
			ctx.beginPath();
			ctx.moveTo(x+(foseja-0.5)*5,y+r);
			for(var i=1;i<359;++i){
				ctx.lineTo(Math.cos(i*Math.PI/180)*r+x+(Math.random()-0.5)*1.1,Math.sin(i*Math.PI/180)*r+y+(Math.random()-0.5)*5);
			}
			ctx.lineTo(x+(foseja-0.5)*5,y+r);
			ctx.closePath();
			ctx.fill();
			ctx.stroke();
		}
		function split() {
			if(count >= 16){
				return;
			}
			else{
				var cl = cells.length;
				for(var i=0;i<cl;++i){
					if(cells[i].mass > 9){
						var e = cells[i].mass /= 2;
						var a = Math.sqrt(Math.pow(mousePositionX,2)+Math.pow(mousePositionY,2));
						if(a == 0){
							a = 1;	
						}
console.log(a);
						var targetX = mousePositionX/a+cells[i].x;
						var targetY = mousePositionY/a+cells[i].y;
						console.log(a + ' ' + mousePositionX / a + ' ' + mousePositionX);
						console.log((targetX - cells[i].x) + ' ' + (targetY - cells[i].y));
						cells.push({
							mass:e,
							x:cells[i].x,
							y:cells[i].y,
							targetX:targetX,
							targetY:targetY,
							time:-20
						})
						count ++;
						if(count == 16){
							return;
						}
					}
				}
			}
		}
	</script>
</body>
</html>
